@model Library.MVCWebUI.Models.BookListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <table class="table table-responsive">
        <tr>
            <td>Ad</td>
            <td>Stok</td>
            <td>Baskı</td>
            <td>Kira Ücreti</td>
            <td>Basım Tarihi</td>
        </tr>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.UnitInStock</td>
                <td>@book.Edition</td>
                <td>@book.LoanPrice</td>
                <td>@book.PublishDate</td>
                <td><a class="btn btn-xs btn-success" asp-controller="Cart" asp-action="AddToCart" asp-route-bookId="@book.BookId">Add To Cart</a></td>
            </tr>
        }
    </table>
</div>
<book-list-pager current-category="@Model.CurrentCategory"
                 current-page="@Model.CurrentPage"
                 page-count="@Model.PageCount"
                 page-size="@Model.PageSize"></book-list-pager>