@model Library.MVCWebUI.Models.BookListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Book List</h2>

<a class="btn btn-xs btn-success" asp-controller="Admin" asp-action="Add">Add a new book</a>
<div>
    <table class="table table-responsive">
        <tr>
            <td>Ad</td>
            <td>Stok</td>
            <td>Baskı</td>
            <td>Kira Ücreti</td>
            <td>Basım Tarihi</td>
        </tr>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.UnitInStock</td>
                <td>@book.Edition</td>
                <td>@book.LoanPrice</td>
                <td>@book.PublishDate</td>
                <td><a class="btn btn-xs btn-info" asp-controller="Admin" asp-action="Update" asp-route-bookId="@book.BookId">Update</a></td>
                <td><a class="btn btn-xs btn-danger" asp-controller="Admin" asp-action="Delete" asp-route-bookId="@book.BookId">Delete</a></td>
            </tr>
        }
    </table>
</div>